# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
env/
venv/
.venv/
myenv/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# PyInstaller build artifacts
*.spec
